*{
    box-sizing: border-box;
}

main{
    min-height: 100vh;
    background:linear-gradient(to right top, #b7b1a5, #73726e);
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.glass{
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.4), rgba(255,255,255,0.2));
    border-radius: 2.3rem;
    backdrop-filter: blur(2rem);
    margin: 4px;
    display: flex;
    flex-direction: column;
}
.glass label[for=task_name]{
    
    font-size: 40px;
    text-align: center;
}
[name=task]{
    border: none;
    width: 10rem;
    border-radius: 5px;
    margin: 1rem 0 1rem 0;
}
.items_controlers{
    padding: 2rem;
}
.todo_items{
    margin-top: 1rem;
}
.card{
    margin-bottom: 0.1rem;
}
