*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    min-height: 100vh;
    background:linear-gradient(to right top, #FCBF49, #c78a0f);
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.glass{
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.4), rgba(255,255,255,0.2));
    border-radius: 2.3rem;
    backdrop-filter: blur(2rem);
    margin: 4pc;
    display: flex;
    flex-direction: column;
}
.glass label[for=task_name]{
    
    font-size: 40px;
    text-align: center;
}
.items_controlers{
    display: flex;
    padding: 2rem 2rem;
    flex-direction: column;
}

h1{
    text-align: center;
}
